:local .claims {
  height: 100%;

  :global {

    .add-button {
      position: fixed;
      z-index: 4000;
      top: 50px;
      left: 20px;
      background-color: rgb(24, 255, 255);
      color: rgb(12, 127, 127);
    }

    .claims-content {
      height: 100%;
      background-color: white;
      .header {
        color: white;
        flex: 0 0 auto;
        height: 80px;
        .tittle {
          flex: 1;
        }
      }
      .claims-list-container {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        .claims-list-header {
          padding-left: 90px;
          background-color: #03A9F4;
        }
        .claims-list {
          flex: 1 1 100%;
          overflow-y: auto;
        }
      }

      .claims-card-container {
        transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        display: flex;
        flex-direction: column;
        .claims-card-header {
          background-color: #069bde;
        }
        .claim-info {
          background-color: #eaeaea;
          flex: 1 1 100%;
          height: 100%;
          overflow-y: auto;
        }
      }
    }

  }
}